{% extends 'Blog_new/base.html' %}
{% load static %}
{% block content %}
    <div class="main-body section-gap">
		<div class="container box_1170">
			<div class="row">
				<div class="col-lg-8 post-list">
					<!-- Start Post Area -->
					<section class="post-area">
						<div class="row">


                            {% for post in posts %}

							<div class="col-lg-6 col-md-6">
								<div class="single-post-item">
									<div class="post-thumb">
                                        <a href="{% url 'temp_post-detail' post.id %}">
										<img  src="{{ post.img.url }}" width="320" height="420" alt=""></a>
									</div>
									<div class="post-details">
										<h4><a href="{% url 'temp_post-detail' post.id %}">{{ post.title }}</a></h4>
										<p>{{ post.content|truncatewords:5 }}</p>
										<div class="blog-meta">

                                            <a href="#" class="m-gap"><span> <img class="rounded-circle "
                                             src="{{ post.author.profile.image.url }}" height="30" width="30">
                                                {{ post.author }}</span></a><br>
											<a href="#" class="m-gap"><span class="lnr lnr-calendar-full">
                                            </span>{{ post.updated }}</a><br>
											<a href="{% url 'temp_post-detail' pk=post.pk %}" class="m-gap">
                                                <span class="lnr lnr-bubble">

                                                </span>Comments: {{ post.approved_comments.count }}</a>
										</div>
									</div>
								</div>
							</div>
                            {% empty %}

                            <h4>NO posts login and create one</h4>

                            {% endfor %}


							<div class="col-lg-12">
                                {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num}}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num}}</a>
            {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
							</div>
						</div>
					</section>
					<!-- Start Post Area -->
				</div>



{% endblock %}
{% block sidebar %}
    {{ block.super }}
    </div>
    </div>
    </div>
{% endblock %}