<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="box collapsed-box">
    <!-- Iterate over object_list -->
    {% for object in object_list %}
        <!-- Display Objects -->

            <li><a href="{% url 'inv_user_details' object.id %} ">{{ object.categoryname }}</a></li>

            <li><a href="{% url 'inv_categ_del' object.id %} ">Delete</a></li>
        <hr/>
    <!-- If objet_list is empty  -->
    {% empty %}
        <li>No objects yet.</li>
    {% endfor %}
 <li><a href="{% url 'inv_categ_add' %} ">Add</a></li>
</ul>
    </div>

</body>
</html>