<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
            text-align: center
        }
        th{
            background-color: #aaaaaa ;
        }
        table {
            border-spacing: 5px;
        }
    </style>



</head>
<body>
<div class="box" align="center">
    <div class="box-header with-border">
        <h3 class="box-title"></h3>
    </div>

    {#            {{ form.as_table }}#}
    <table class="table table-striped">
        <form method="post" action="{% url 'inv_product_add' %}">
            {% csrf_token %}
            <thead>
            <tr>
                <th scope="col"><label for="{{ form.subject.id_for_label }}">Category:</label></th>
                <th scope="col"><label for="{{ form.subject.id_for_label }}">subcategory:</label></th>
                <th scope="col"><label for="{{ form.subject.id_for_label }}">productbrand:</label></th>
                <th scope="col"><label for="{{ form.subject.id_for_label }}">productmodel:</label></th>
              <tr><td>{{ form.category }}
                </td>
                <td>{{ form.subcategory }}
                </td><td>{{ form.productbrand }}
            </td><td>{{ form.productmodel }}</tr>
                <tr>
                <th scope="col"><label for="{{ form.subject.id_for_label }}">productname:</label></th>
                <th scope="col"><label for="{{ form.subject.id_for_label }}">productunit:</label></th>
                <th scope="col"><label for="{{ form.subject.id_for_label }}">pricebuy:</label></th>
                <th scope="col"><label for="{{ form.subject.id_for_label }}">pricesell:</label></th>
{#                    <th></th><th></th>#}
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>{{ form.productname }}
            </td><td>{{ form.productunit }}
            </td><td>{{ form.pricebuy }}
            </td><td>{{ form.pricesell }}
            </td>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>
 </tbody>
        </form>
</table>
    <!-- /.box-footer-->
</div>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
{% endif %}
<!--Product list !-->

<div class="box collapsed-box">
    <!-- Iterate over object_list -->
    {% for object in product %}
        <table align="center">
            <thead>
            <tr>
                <th scope="col">Category:</th>
                <th scope="col">subcategory:</th>
                <th scope="col">productbrand:</th>
                <th scope="col">productmodel:</th>
                <th scope="col">productname:</th>
                <th scope="col">productunit:</th>
                <th scope="col">pricebuy:</th>
                <th scope="col">pricesell:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ object.category }}
                </td>
                <td>{{ object.subcategory }}
                </td><td>{{ object.productbrand }}
            </td><td>{{ object.productmodel }}
            </td><td>{{ object.productname }}
            </td><td>{{ object.productunit }}
            </td><td>{{ object.pricebuy }}
            </td><td>{{ object.pricesell }}
            </td>
                <td><a href="{% url 'inv_product_update' object.id %}" >Edit</a></td>
                <td><a href="{% url 'inv_product_delete' object.id %}" >Delete</a></td>
            </tr>
            </tbody>
        </table>
{#        <!-- If objet_list is empty  -->#}
        {% empty %}
        <li>No objects yet.</li>
    {% endfor %}
</div>

</body>
</html>