<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        table, th, td {
            border: 1px solid black;
            padding: 3px;
            text-align: center
        }
        th{
            background-color: #aaaaaa ;
        }
        table {
            border-spacing: 5px;
        }
    </style>
</head>
<body>
<div class="box" align="center">
    <div class="box-header with-border">
        <h3 class="box-title"></h3>
    </div>
    <table class="table table-striped">
        <form method="post" action="{% url 'inv_supply_edit' supply.id %}">
            {% csrf_token %}
            <thead>
            <tr>
                <th scope="col"><label for="{{ form.subject.id_for_label }}">supplier:</label></th>
                <th scope="col"><label for="{{ form.subject.id_for_label }}">product:</label></th>
                <th scope="col"><label for="{{ form.subject.id_for_label }}">qty:</label></th>
                <th scope="col"><label for="{{ form.subject.id_for_label }}">arrivedat:</label></th>
                <th scope="col"><label for="{{ form.subject.id_for_label }}">arrived:</label></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ form.supplier }}
                </td><td>{{ form.product }}
            </td><td>{{ form.qty }}
            </td><td>{{ form.arrivedat }}
            </td><td>{{ form.arrived }}
                <td>
                    <button type="submit" class="btn btn-primary">Update</button>
                </td>
            </tr>
            </tbody>
        </form>
    </table>
</div>
</body>
</html>